<h1> Users List </h1>

<table class="table table-striped ">

  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email ID</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td> <%= user.first_name %> &nbsp <%= user.last_name %> </td>
        <td> <%= user.email %> </td>
        <td> <%= link_to 'Show', user_path(user) %> </td>
      </tr>
    <% end %>
  </tbody>

</table>  